* {
  font-family: "Montserrat", sans-serif;
  color: black;
  margin: 10px 5px;
  font-size: 12px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

[data-action] {
  cursor: pointer;
}

#sorting th.sortby {
  text-decoration: underline;
}

#sorting th.sortby[data-sort-direction="asc"]::after {
  content: "▼";
}

#sorting th.sortby[data-sort-direction="desc"]::after {
  content: "▲";
}

#list {
  border-collapse: collapse;
}

#list tbody tr td {
  padding: 4px;
}

#list tbody tr:nth-child(odd) td {
  background-color: #b8ddb8;
  border-right: rgb(240, 249, 255) 1px dotted;
}

#list tbody tr:nth-child(even) td {
  border-right: rgb(171, 219, 252) 1px dotted;
}

td[data-field="prefect"]::after {
  content: "🏆";
}

td[data-field="prefect"][data-prefect="false"]::after {
  content: "🏆";
  filter: grayscale(1);
}

/* ****** STAR ******

[data-field="star"] {
  text-align: center;
  cursor: pointer;
  min-width: 2em;
} */

#sorting th {
  filter: grayscale(100%);
}

.filter_field {
  text-align: center;
}

#list {
}

.fact_box {
  background-color: bisque;
  height: fit-content;
  width: 80vw;
  padding: 0.2rem;
}

.search_field {
  background-color: #f9af1d;
  height: 10vw;
  width: 80vw;
}

/* web format */

@media (min-width: 750px) {
  * {
    font-size: 16px;
  }

  .fact_box {
    background-color: bisque;
    height: fit-content;
    width: 20vw;
  }

  .search_field {
    background-color: #f9af1d;
    height: 10vw;
    width: 20vw;
  }

  .student_overview {
    display: grid;
    grid-template-columns: 30% auto;
  }
}
/* POP UP */
.popup {
  display: none;
  position: fixed;
  top: 79px;
  left: 100px;
  height: fit-content;
  width: auto;
  margin: 4rem auto;
  border-radius: 25px;
  background-color: #f967ac;
  padding: 30px;
}

.popup_button {
  border: none;
  background-color: transparent;
  text-decoration: underline;
}

.popup .closePopup {
  color: #f9af1d;
  position: fixed;
  cursor: pointer;
  top: 5em;
  left: 10.8em;
  background-color: transparent;
  box-shadow: none;
  font-size: 31px;
  padding: 0;
}

/* .gryffindorColor {
  background-color: red;
}

.slytherinColor {
  background-color: green;
}
.hufflepuffColor {
  background-color: black;
  color: white;
}
.ravenclawColor {
  background-color: blue;
} */

.crest {
  width: 5rem;
  height: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  box-shadow: 1px 1px 10px #333;
  border-radius: 12px;
  padding: 2em;
  background-color: #eeee;
  position: relative;
}

.closebutton {
  position: absolut;
  right: -1em;
  top: 0;
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

.dialog h1 {
  margin-top: 0;
}

.hide {
  display: none;
}
