* {
  font-family: "Montserrat", sans-serif;
  color: black;
  margin: 10px 5px;
  font-size: 12px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

[data-action] {
  cursor: pointer;
}

#sorting th.sortby {
  text-decoration: underline;
}

#list {
  border-collapse: collapse;
}

#list tbody tr td {
  padding: 4px;
}

#list tbody tr:nth-child(odd) td {
  background-color: #b8ddb8;
  border-right: rgb(240, 249, 255) 1px dotted;
}

#list tbody tr:nth-child(even) td {
  border-right: rgb(171, 219, 252) 1px dotted;
}

/* ****** STAR ******

[data-field="star"] {
  text-align: center;
  cursor: pointer;
  min-width: 2em;
} */

#sorting th {
  filter: grayscale(100%);
}

.filter_field {
  text-align: center;
}

#list {
}

.fact_box {
  background-color: bisque;
  height: 20vw;
  width: 80vw;
}

.search_field {
  background-color: #f9af1d;
  height: 10vw;
  width: 80vw;
}

/* web format */

@media (min-width: 750px) {
  * {
    font-size: 16px;
  }

  .fact_box {
    background-color: bisque;
    height: 50vw;
    width: 20vw;
  }

  .search_field {
    background-color: #f9af1d;
    height: 10vw;
    width: 20vw;
  }

  .student_overview {
    display: grid;
    grid-template-columns: 30% auto;
  }
}

.popup {
  display: none;
  position: fixed;
  top: 79px;
  left: 28px;
  height: 50vw;
  width: 60vw;
  margin: 4rem auto;
  border-radius: 25px;
  background-color: #f967ac;
  padding: 30px;
}

.popup_button {
  border: none;
  background-color: transparent;
  text-decoration: underline;
}

.popup .closePopup {
  color: #f9af1d;
  position: fixed;
  cursor: pointer;
  top: 5em;
  left: 10.8em;
  background-color: transparent;
  box-shadow: none;
  font-size: 31px;
  padding: 0;
}
